<% provide(:title, @participant.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @participant.name %>
      </h1>
      <p>
       <%= link_to "edit", edit_study_participant_path(@study, @participant.id) %> | <%= link_to "delete", study_participant_path, method: :delete,
                                  data: { confirm: "You sure?" } %>
      </p>
      <%= form_tag(study_participant_single_sms_path(current_study, @participant), :method => :post) do %>
      <%= text_area_tag :message %>
       <%= submit_tag "Submit", class: "btn btn-large btn-primary" %>
     <% end %>
    </section>
  </aside>
  <div class="span8">
    <h3> Entries </h3>
    <ol class = "entries">
      <% @account.sms.messages.list( { from: @participant.phone_number } ).each do |sms| %>
        <li>
          <span class="content"><%= sms.body %></span>
          <span class="timestamp"> <%= sms.direction %> | <%= sms.date_sent %>
        </li>
      <% end %>
    </ol>
  </div>
</div>