<% provide(:title, @participant.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @participant.name %>
      </h1>
      <p>
       <%= link_to "edit", edit_study_participant_path(@study, @participant.id) %> | <%= link_to "delete", study_participant_path, method: :delete,
                                  data: { confirm: "You sure?" } %>
      </p>
      <%= form_tag(study_participant_single_sms_path(current_study, @participant), :method => :post) do %>
      <%= text_area_tag :message %>
       <%= submit_tag "Submit", class: "btn btn-large btn-primary" %>
     <% end %>
    </section>
  </aside>
  <div class="span8">
    <h3> Entries </h3>
    <ol class = "entries">
      <% @participant.messages.sort{ |a, b| Time.parse(a.date_sent) <=> Time.parse(b.date_sent) }.each do |sms| %>
        <li class = <%= sms.direction %> >
          <span class="content"><%= sms.body %></span>
          <span class="timestamp">Sent on <%= l(Time.parse(sms.date_sent), :format => :month_day_hour_minute_meridian) %>
        </li>
      <% end %>
    </ol>
  </div>
</div>