<% provide(:title, @study.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @study.name %>
      </h1>
      <h5>
        <%= @study.description %>
      </h5>
      <p>
        <% if current_user.admin? %>
           <%= link_to "edit", edit_study_path %> | <%= link_to "delete", study_path, method: :delete, data: { confirm: "You this study?" } %>
        <% end %>
      </p>
        <% if current_user.admin? %>
          <%= form_tag(study_sms_path(@study), :method => :post) do %>
            <%= text_area_tag :message %>
             <%= submit_tag "Submit", class: "btn btn-large btn-primary" %>
          <% end %>
        <% end %>
    </section>
  </aside>
  <div class="span8">
    <% if @study.participants.any? %>
      <h3>Participants (<%= @study.participants.count %>)</h3>
      <ol class="participants">
        <%= render @participants %>
        <% if current_user.admin? %>
          <li> <%= link_to "Add another participant", new_study_participant_path(@study) %> </li>
        <% end %>
      </ol>
      <%= will_paginate @participants %>
    <% else %>
      <% if current_user.admin? %>
        <%= link_to "Add a participant", new_study_participant_path(@study) , class: "btn btn-large btn-primary" %>
        <% else %>
        <h3> This study currently has no participants </h3>
        <% end %>
    <% end %>
  </div>
</div>