<%= render 'shared/error_messages', object: f.object %>

<%= f.label :message %>
<%= f.text_field :message %>
<div class = "date-time">
	<div class = "date">
		<%= f.label :scheduled_at, "Send message on:" %>
		<%= f.text_field :scheduled_at %>
	</div>
	<div class = "time">
		<%= f.label :scheduled_at, "Send message at:" %>
		<%= f.time_select :scheduled_at, :minute_step => 15 %>
	</div>
</div>
