<%= render 'shared/error_messages', object: f.object %>

<%= f.label :message %>
<%= f.text_field :message %>
<div>
	<div class = "date">
		<%= f.label :scheduled_at_date, "Date" %>
		<%= f.text_field :scheduled_at_date %> 
	</div>

	<div class = "time">
		<%= f.label :scheduled_at_time, "Time" %>
		<%= f.text_field :scheduled_at_time, :class => 'timepicker' %>
	</div>
</div>
